:root{
    --background:#4c58b1;
    --textarea:#c0cffd;
    --sidebar:#7384de;
    --button:#f8cfcf;
    --buttontext:#ba2828;
    --text:black;
}
.back{
    display: flex;
    flex-direction: column;
    width: 967px;
    height: 802px;
    margin-top: 109px;
    margin-left: 103px;
    opacity: 0px;
    border-radius: 10%;
    background-color: #4c58b1;
    padding-left: 20%;
}

.boxassign
{
    margin-top: 20%;
    width: 77%;
    height: 7%;
    background-color: var(--textarea);
    position: relative;
}
.boxassign:after
{
    content: '';
    position: absolute;
    width:2%;
    left:0;
    top: 0;
    height:100%;
    background: var(--sidebar);
}
.boxtask
{
    margin-top: 20px;
    width: 77%;
    height: 7%;
    background-color: var(--textarea);
    position: relative;
}
.boxtask:after
{
    content: '';
    position: absolute;
    width:2%;
    left:0;
    top:0;
    height:100%;
    background: var(--sidebar);
}
.boxdesc
{
    margin-top: 20px;
    margin-right: -20px;
    width: 77%;
    height: 15%;
    background-color: var(--textarea);
    position: relative;
    overflow: auto;
}
.boxdesc:after
{
    content: '';
    position: absolute;
    width:2%;
    left:0;
    top:0;
    height:100%;
    background: var(--sidebar);
}

.boxdate
{
    margin-top: 20px;
    margin-right: -20px;
    width: 77%;
    height: 7%;
    background-color: var(--textarea);
    position: relative;
}
.boxdate:after
{
    content: '';
    position: absolute;
    width:2%;
    left:0;
    top:0;
    height:100%;
    background: var(--sidebar);
}
.boxstatus
{
    margin-top: 20px;
    margin-right: -20px;
    width: 77%;
    height: 7%;
    background-color: var(--textarea);
    position: relative;
}
.boxstatus:after
{
    content: '';
    position: absolute;
    width:2%;
    left:0;
    top:0;
    height:100%;
    background: var(--sidebar);
}